@model IEnumerable<AutoMobileCMS.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Users</a></li>
        </ol>
    </section>
    <section class="content" id="Index">
        <div class="row">
            <div class="col-xs-12">
                @Html.ActionLink("Create New", "Create", "User", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ContactNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Password)
                                </th>
                              
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ContactNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Password)
                                    </td>
                                  
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
