@model IEnumerable<AutoMobileCMS.Models.ModelsViewModel>

@{
    ViewBag.Title = "_ModelsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Models
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Models</a></li>
            @*<li class="active">Dashboard</li>*@
        </ol>
    </section>
    <section class="content" id="Index">
        <div class="row">
            <div class="col-xs-12">
                @Html.ActionLink("Create New", "Create", "Models", null, new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModelID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ModelName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BrandID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateofPurchase)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.KMDriven)
                                </th>

                                <th></th>
                            </tr>


                            @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ModelID)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ModelOverview)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ModelName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BrandID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateofPurchase)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.KMDriven)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
